<div class="container-log">
  <div class="login-wrapper">
    <form [formGroup]="loginForm" class="login-form">

      <span class="login-form-title p-b-26">
        Bem vindo ao
       </span>
      <span class="login-form-title p-b-26">
        SIGO
      </span>
     
      <div class="form-group">
        <mat-form-field>          
          <input            
            type="text"          
            [formControl]="loginForm.controls.username"
            autocomplete="off"
            matInput
            placeholder="Username">      
        </mat-form-field>
      </div>


      <div class="form-group">
        <mat-form-field>          
          <input            
            type="password"          
            [formControl]="loginForm.controls.password"
            autocomplete="off"
            matInput
            placeholder="Password">      
        </mat-form-field>
      </div>
    
      <app-action-button labelWhileExecute="Entrando" label="Entrar" (functionToExecute)="login()" [execute]="loging">

      </app-action-button>
    </form>
  </div>

</div>