.container-log {
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url("/../../assets/tecido-wp-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-wrapper {
    background: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    padding: 35px 55px 33px;
}


.login-form-title {
    display: block;    
    font-size: 30px;
    font-weight: bold;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.p-b-26 {
    padding-bottom: 26px;
}

.p-b-48 {
    padding-bottom: 48px;
}

.login-form {
    width: 100%; 
    opacity: 1;
}

.login-form-title i {
    font-size: 60px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.login-sigo {
    font-size: 40px;
}